@model ProfileVM
<div class="main">

    <div class="profile">
        <div class="image-container">
            <img class="profile-pic" src="@Model.user.ProfilePicUrl">
        </div>
        <h2>@Model.user.Fullname</h2>
        <p>@Model.user.Bio</p>
        <button>Edit Your Information</button><br /><br />

        <div class="bg-light">
            <h2>What's On your Mind</h2>

            <form method="post">
                <div class="create-post">
                    <input asp-for="newpost.Id" hidden />
                    <h2>Create Post</h2>
                    <label>Post Title</label>
                    <input asp-for="newpost.Title" type="text" />
                    <label>Post Body</label>
                    <input asp-for="newpost.Body" type="text" />
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>
        

        <h2>Your Posts</h2>

        @if (Model.postsHistory.Count() == 0)
        {
            <div class="post-card">
                <label>You Haven't Posted Anything Yet !</label><br />
                
            </div>
        }
        else
        {
            @foreach (Post post in Model.postsHistory)
            {


                <div class="post-card">
                    <label>@post.Title</label><br />
                    <label>@post.Body</label><br />
                    <label> Likes : @post.Likes</label>
                    <label>Dislikes : @post.Dislikes</label><br />
                    <label>Posted on : @post.PostDate</label>
                </div>


            }
        }
        
    </div>



    <div class="side-profile">
        <button class="side-button">Button 1</button>
        <button class="side-button">Button 2</button>
        <button class="side-button">Button 3</button>
        <button class="side-button">Button 4</button>
        <button class="side-button">Button 5</button>
    </div>

</div>
